numpy==1.24.3
scikit-learn==1.3.0
scipy==1.11.1
PyYAML==6.0.1
torch==2.0.1
torchvision==0.15.2
--find-links https://data.pyg.org/whl/torch-2.0.1+cu117.html
torch-scatter
torch-sparse
torch-cluster
torch-spline-conv
torch-geometric==2.3.1